@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    /* My Font */
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS */
.navigation {
    width: 100%;
    height: 80px;
    background-color: #701dbb;
    box-shadow: #202020 0px 8px 16px;
}

.navigation img {
    width: 36px;
    height: 36px;
    padding: 20px;
    float: left;
}

.navigation h1 {
    font-weight: 900;
    font-size: 24px;
    color: #fff200;
    margin-top: 28px;
    display: block;
    float: left;
}

.navigation span {
    font-weight: 400;
}

.navigation ul {
    display: flex;
    overflow: hidden;
    float: right;
}

.navigation ul li img {
    align-items: center;
    width: 120px;
    height: auto;
}

.navigation a {
    font-weight: 400;
    margin: 24px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    float: right;
}

.navigation a.active {
    color: #fff200;
    padding-bottom: 8px;
    border-bottom: 5px #fff200 solid;
}

.content {
    z-index: -1;
    margin-top: 0px;
    background-image: linear-gradient(to right, #801bea, #8b54d7);
    position: relative;
}

.home {
    width: auto;
    height: 545px;
    background-image: url(./Asset/asset6.svg), url(./Asset/asset7.svg);
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
}

.home img {
    width: 120px;
    height: auto;
}

.home img.left {
    margin-left: 200px;
    margin-top: 50px;
    float: left;
}

.home h1 {
    font-size: 48px;
    font-weight: 400;
    color: #fff200;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.home h1 span {
    margin-left: 16px;
    font-weight: 900;
}

.home img.right{
    margin-top: 400px;
    margin-right: 200px;
    float: right;
}

.home img.bottom {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    left: 50%;
}

